body {
    /* background-color:rgb(19, 69, 163); */
    background: -moz-linear-gradient(60deg,#2f38b1 0%, #100da0 100%);
    /* background: -webkit-linear-gradient(60deg,#3023ae 0%, #c86dd7 100%); */
    /* background: linear-gradient(60deg,#3023ae 0%, #c86dd7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3023ae',endColor='#c86dd7') */
}

  .centro {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: rgb(245, 245, 220);
  }
  
  .email {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: lighter;
    color: rgba(226, 226, 216, 0.575);
  }

  .curriculo {
    background-color: rgb(168, 168, 168);
    color: white;
    padding: 1em 1.5em;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
  }